@import "tailwindcss";

:root {
  --background: #f8fafc;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html,
body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
  overflow-x: hidden !important;
  position: relative;
  width: 100% !important;
  margin: 0;
  padding: 0;
  -webkit-overflow-scrolling: touch;
}

.app-container {
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
